.header{
  width: 1280;
  height: 800;
  background-image: url('./4KDr.gif');
  background-size: cover;
}
.Container{
  display: flex;
  flex-wrap: wrap;
}
.Container > .link{
  width: 300px;
  box-shadow: 0 0 10px black;
  margin: 20px;
  text-align: center;
}
.Container > .link:hover{
  background-color: lightblue;
  color: white;
}
.textcenter{
  text-align: center;
}
.text-Color{
  color: white;
  margin-right: 60%;
  font-weight: bold;
}
.text2{
  margin-right: 48%;
  color: white;
}
.btn{
  margin-right: 80%;
  background-color:darkred ;
  color: white;
}
.container2{
  background-color: black;
  padding: 20px auto;
}
.Footer{
  Color:white;
  margin-left: 200px;
  ;
}
.contact{
  Color:white;
  margin-left:450px;
  margin-top: -125px;
}
/*.navhover{
  background-color:white;
  Color:black 
}
.navhover:hover{
  background-color:black;
  Color:white
}
.navhover > b:hover{
  background-color:black;
  Color:white
}
Button:hover{
  background-color:white;
  Color:black
}*/